
*{
    margin: 0px;
    padding: 0;
}
html{
    position: absolute;
    bottom: 0;
    top:0;
    right:0;
    left:0;
}
body{
    height:100%;
    font-size: 14px;
    line-height: 24px;
    font-family: '微软雅黑';
}
#app{
    height: 100%;
}
ul, dl, ol{
    list-style: none;
}
image{
    vertical-align: bottom;
    border: 0;
}
a{
    color:deepskyblue;
    text-decoration: none;
    &:hover{
        color:#333;
    }
}
.container{
    width:1220px;
    margin: 0 auto;
}

#header{
    height:60px;
    line-height: 60px;
    background: #333;
    .brand{
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        padding: 0 20px;
        background: lightcoral;
    }
    .nav-bar{
        display: inline-block;
        > li{
            display: inline-block;
            vertical-align: middle;
            > a{
                font-size: 18px;
                display: inline-block;
                padding: 0.5em 1.5em;
            }
        }
    }
    .user-center{
        float:right;
        display: inline-block;
        vertical-align: middle;
        border:1px solid #ddd;
        font-size: 14px;
        padding: 0.5em;
    }
}
.aside{
    width:200px;
    height:100%;
    float:left;
    background: #eee;
    border-right: 2px solid #d15d5d;
    > li{ 
        text-align: center;
        position:relative;
        &:after{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-left-color: green;
            position:absolute;
            right:1em;
            top: 8px;
            transition: all 200ms linear;
        }
        &:hover{
            background: #ddd;
            &:after{
                transform: translateY(90deg);
            }
        }
        > a{
            display: inline-block;
            line-height: 2em;
            border-bottom: 2px solid #ddd;
            width:100%;
        }
    }
    
}
.content{
    margin-left: 200px;
}
.product-item{
    float: left;
    margin:15px;
    width:25%;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px 10px #ddd;
    .product-img{
        height:200px;
        background: lightseagreen;
    }
    .product-info{
        padding:10px;
        height:80px;
        text-align: center;
        color: #666;
        span{
            color:darkred;
            font-weight: bold;
            font-size: 24px;
        }
    }
    
}